footer {
    color: white;
    font-weight: 200;
}
.footer-top {
    background: var(--dark);
}
.footer-top-inner {
    display: flex;
    padding: 35px 16px;
    font-size: 20px;
    gap: 16px;
    flex-wrap: wrap;
    max-width: 1060px;
}
.footer-bottom {
    background: var(--dark2);
}
.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    max-width: 1020px;
}
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 auto;
    padding-inline: 20px;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer-heading {
    font-weight: 500;
}
.footer-link:hover {
    color: var(--grey);
}
.footer-iconrow {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

@media only screen and (max-width: 1140px) {
    .footer-top-inner {
        max-width: 900px;
    }
    .footer-bottom-inner {
        max-width: 860px;
    }
}
@media only screen and (max-width: 940px) {
    .footer-top-inner {
        max-width: 740px;
        font-size: 16px;
    }
    .footer-bottom-inner {
        max-width: 700px;
    }
    .footer-column {
        gap: 8px;
    }
}
@media only screen and (max-width: 768px) {
    .footer-top-inner {
        max-width: 740px;
    }
    .footer-bottom-inner {
        max-width: 700px;
    }
}
@media only screen and (max-width: 540px) {
    
}
