footer {
    color: white;
    font-weight: 200;
}
.footer-top {
    background: var(--dark);
}
.footer-top-inner {
    display: flex;
    padding: 2rem 1rem;
    font-size: 1.25rem;
    max-width: 1060px;
}
.footer-bottom {
    background: var(--dark2);
}
.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    max-width: 1020px;
}
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.footer-heading {
    font-weight: 500;
}
.footer-link:hover {
    color: var(--grey);
}
.footer-iconrow {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

