header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;   
    height: 96px;
    color: white;
    backdrop-filter: blur(3px);
}
header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, var(--dark), var(--dark2));
    transition: opacity .3s;
    opacity: 0;
    z-index: -5;
}
header.bg::before {
    opacity: 1;
}
.header-inner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;   
    padding-inline: 2rem; 
}
.header-home-link {
    display: flex;  
    margin-right: 3rem;
}
.nav-items-list {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-item {
    position: relative;
    margin-right: 1rem;
}
.nav-link {
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem 0.25rem;
}
.header-langs {
    position: relative;
    cursor: pointer;
    margin-left: auto;
}
.langs-opener {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
}
.langs-flag {
    width: 1.5rem;
    height: 1.5rem;
}
.langs-item {
    display: flex;
    align-items: center;
    gap: 1rem;  
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--light);
}
.langs-item:hover {
    background: rgba(0, 0, 0, 0.7);
}
.langs-item:last-child {
    border: none;
}
.langs-list {
    position: absolute;
    min-width: 7rem;
    right: 0;
    z-index: 1;
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
    transition: transform .2s, opacity .2s;
}
.langs-list.opened {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
.header-arrow-down {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.5rem;
}
.nav-items-sublist {
    position: absolute;
    left: -0.5rem;
    min-width: 10rem;
    text-wrap: nowrap;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: visibility .2s, transform .2s, opacity .2s;
}
.nav-sublink {
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: background 1s;
    padding: 0.75rem;
}
.nav-subitem {
    border-bottom: 1px solid var(--light);
}
.nav-subitem:hover {
    background: rgba(0, 0, 0, 0.7);
}
.nav-subitem:last-child {
    border: none;
}
.nav-item:hover .nav-items-sublist {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.nav-opener {
    margin-left: auto;
    padding: 0.5rem 0.25rem;
    display: none;
}

@media only screen and (max-width: 1140px) {
    header {
        position: relative;
        background: linear-gradient(to bottom, var(--dark), var(--dark2));
        height: 70px;
    }
    .header-home-link {
        margin-right: 0;
    }
    .header-home-logo {
        width: 140px;
    }
    nav {
        position: absolute;
        right: 0;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(20px);
        transition: visibility .2s, transform .2s, opacity .2s;
    }
    .nav-items-list {
        display: block ;
    }
    .nav-item {
        margin-right: 0;
        width: 200px;
    }
    .nav-link {
        display: flex;
        align-items: center;
        padding: 0.75rem 1.25rem;
        background: rgba(0, 0, 0, 0.5);
    }
    .header-arrow-down {
        margin-left: auto;
    }
    .nav-opener {
        display: flex;
        cursor: pointer;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        padding-inline: 1rem;
        gap: 0.75rem;
        height: 40px;
    }
    nav.opened {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
    .header-langs {
        margin-left: 1rem;
    }
    .langs-opener {
        background: rgba(0, 0, 0, 0.5);
        height: 40px;
        padding-inline: 12px;
        border-radius: 8px;
    }
    .langs-list {
        right: -32px;
        top: calc(100% + 15px); 
    }
    .lang-arrow-down {
        margin-left: 0.5rem;
    }
}