header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;   
    height: 6rem;
    color: white;
    backdrop-filter: blur(3px);
}
header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, var(--dark), var(--dark2));
    transition: opacity .3s;
    opacity: 0;
    z-index: -5;
}
header.bg::before {
    opacity: 1;
}
.header-inner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;    
}
.nav-home-link {
    position:  relative;
    margin-right: 3rem;
}
.nav-items-list {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-item {
    position: relative;
    margin-right: 1rem;
}
.nav-link {
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem 0.25rem;
}
.header-langs {
    position: relative;
    cursor: pointer;
    margin-left: auto;
}
.current-lang {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
}
.langs-flag {
    width: 1.5rem;
    height: 1.5rem;
}
.langs-item {
    display: flex;
    align-items: center;
    gap: 1rem;  
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--light);
}
.langs-item:hover {
    background: rgba(0, 0, 0, 0.7);
}
.langs-item:last-child {
    border: none;
}
.langs-list {
    position: absolute;
    right: 0;
    min-width: 7rem;
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: visibility .2s, transform .2s, opacity .2s;
    pointer-events: none;
}
.langs-list.opened {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
}
.header-arrow-down {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.5rem;
}
.nav-items-sublist {
    position: absolute;
    left: -0.5rem;
    min-width: 10rem;
    text-wrap: nowrap;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: visibility .2s, transform .2s, opacity .2s;
}
.nav-sublink {
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: background 1s;
    padding: 0.75rem;
}
.nav-subitem {
    border-bottom: 1px solid var(--light);
}
.nav-subitem:hover {
    background: rgba(0, 0, 0, 0.7);
}
.nav-subitem:last-child {
    border: none;
}
.nav-item:hover .nav-items-sublist {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
