header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;   
    height: 96px;
    color: white;
    backdrop-filter: blur(3px);
}
header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, var(--dark), var(--dark2));
    transition: opacity .3s;
    opacity: 0;
    z-index: -5;
}
header.bg::before {
    opacity: 1;
}
.header-inner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;   
    padding-inline: 2rem; 
}
.header-home-link {
    display: flex;  
    margin-right: 3rem;
}
.nav-items-list {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-item {
    position: relative;
    margin-right: 1rem;
}
.nav-link {
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem 0.25rem;
}
.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: white;
    transition: width .2s;
}
.nav-link:hover::before {
    width: 100%;
}
.header-langs {
    position: relative;
    cursor: pointer;
    margin-left: auto;
}
.langs-opener {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
}
.langs-opener::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: white;
    transition: width .2s;
}
.langs-opener:hover::before {
    width: 100%;
}
.langs-flag {
    width: 1.5rem;
    height: 1.5rem;
}
.langs-item {
    display: flex;
    align-items: center;
    gap: 1rem;  
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--light);
    transition: background .2s;
}
.langs-item:hover {
    background: rgba(0, 0, 0);
}
.langs-item:last-child {
    border: none;
}
.langs-list {
    position: absolute;
    min-width: 7rem;
    right: 0;
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
    transition: transform .2s, opacity .2s;
}
.langs-list.opened {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
.header-arrow-down {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.5rem;
    transition: transform .2s;
}
.submenu {
    position: absolute;
    left: -0.5rem;
    min-width: 10rem;
    text-wrap: nowrap;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    visibility: hidden;
    transition: transform .2s, opacity .2s;
}
.submenu-item {
    border-bottom: 1px solid var(--light);
}
.submenu-link {
    display: inline-block;
    width: 100%;
    padding: 0.75rem;
    background: rgba(0, 0, 0, 0.5);
    transition: background .2s;
}
.submenu-link:hover {
    background: rgba(0, 0, 0);
}
.submenu-item:last-child {
    border: none;
}
.nav-item:hover .submenu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}
.nav-opener {
    margin-left: auto;
    padding: 0.5rem 0.25rem;
    display: none;
}

@media only screen and (max-width: 1140px) {
    header {
        position: relative;
        background: linear-gradient(to bottom, var(--dark), var(--dark2));
        height: 70px;
    }
    .header-home-link {
        margin-right: 0;
    }
    .header-home-logo {
        width: 140px;
    }
    nav {
        position: absolute;
        right: 0;
        top: 100%;
        opacity: 0;
        width: 300px;
        pointer-events: none;
        visibility: hidden;
        -ms-transform: translateY(20px);
        transform: translateY(20px);
        transition: transform .2s, opacity .2s;
    }
    nav.opened {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
    }
    .nav-items-list {
        display: block ;
    }
    .nav-item {
        border-bottom: 1px solid var(--light);
        margin-right: 0;
    }
    .nav-item:last-child {
        border: none;
    }
    .nav-link {
        display: flex;
        align-items: center;
        padding: 0.75rem 1.25rem;
        background: rgba(0, 0, 0, 0.5);
    }
    .nav-link:hover::before {
        content: none;
    }
    .nav-link:hover {
        background: rgba(0, 0, 0);
    }
    .submenu {
        max-height: 0px;
        position: static;
        overflow: hidden;
        width: 100%;
        opacity: 1;
        transform: none;
        visibility: visible;
        transition: max-height 0.5s;
    }
    .nav-link.opened {
        border-bottom: 1px solid var(--light);
    }
    .nav-link.opened + .submenu {
        max-height: 300px;
        transition: max-height 0.7s ease-in-out;
    }
    .submenu-link {
        padding-left: 1.75rem;
    }
    .nav-link.opened .header-arrow-down {
        transform: rotate(180deg);
    }
    .header-arrow-down {
        margin-left: auto;
    }
    .nav-opener {
        display: flex;
        cursor: pointer;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        padding-inline: 1rem;
        gap: 0.75rem;
        height: 40px;
    }
    .header-langs {
        margin-left: 1rem;
    }
    .langs-opener {
        background: rgba(0, 0, 0, 0.5);
        height: 40px;
        padding-inline: 12px;
        border-radius: 8px;
    }
    .langs-list {
        right: -32px;
        top: calc(100% + 15px); 
    }
    .lang-arrow-down {
        margin-left: 0.5rem;
    }
}