.intro {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
}
.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0) );
}
.intro-bg-img-wrap {
    width: 100%;
}
.intro-bg-img {
    width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
    transition: opacity 0.8s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
}
.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding-top: 32vh;
    font-weight: 100;
}
.intro-heading {
    font-size: 6rem;
    mask: linear-gradient(black, black, transparent);
    backdrop-filter: blur(1px);
    letter-spacing: 0.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-shadow: 5px 5px 5px black;
}
.intro-desc {
    display: inline-block;
    padding-inline: 0.5rem;
    font-size: 2rem;
    box-shadow: 5px 5px 5px 0px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    border-radius: 9rem;
    padding: 0.5rem 2rem;
}
.intro-button {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5rem;
}
.intro-button-text {
    margin-left: 4rem;
}
.intro-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: var(--grey);
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -0.5rem;
    margin-right: 2rem;
    transition: background .2s;
}
.intro-button:hover .intro-circle {
    background: var(--red);;
    color: white;
}
.offers {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.offers-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.offers-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
}
.offers-item {
    width: 700px;
    position: relative;
    color: white;
    height: 475px;
    background: black;
}
.offers-item::after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    height: 75%;
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 80%);
    transition: height .3s;
}
.offers-item:hover::after {
    height: 65%;
}
.offers-item-img {
    width: 100%;
}
.offers-item-button {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    z-index: 99;
}
.offers-item-text {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    z-index: 99;
}
.offers-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}