@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,76.4,100..900;1,76.4,100..900&display=swap');
:root {
    --light: #e2e2e2;
    --dark: #222222;
    --dark2: #121212;
    --grey: #4a4a4a;
    --grey2: #3c3c3c;
    --red: #c41515;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
body {
    background: var(--light);
    color: var(--grey);
}
.heading {
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--red);
    color: white;
    font-weight: 300;
    padding: 0.5rem 1.25rem;
    font-size: 1.5rem;
    transition: background .2s;
}
.button:hover {
    background: var(--red);
    color: white;
}
.button-white {
    background: white;
    color: var(--grey);
}
.button-white:hover {
    background: var(--grey2);
}
.button-transp {
    background: rgba(0, 0, 0, 0.5);
}
.button-arrow {
    margin-left: 1rem;
    width: 1rem;
    height: 1rem;
}
.button-icon {
    width: 2.75rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.inner {
    margin-inline: auto;
    max-width: 1440px;
}
.spaced {
    margin-block: 4rem;
}
.link {
    text-decoration: underline;
}
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}
.banner-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -5;
}
.banner::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.banner-text {
    position: absolute;
    color: white;
    text-align: center;
}
.banner-heading {
    letter-spacing: 0.5rem;
    font-size: 2rem;
    mask: linear-gradient(black, black, transparent);
    backdrop-filter: blur(1px);
    margin-bottom: 0.5rem;
}
.banner-buttons {
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    gap: 1rem;
}
.ig {
    display: flex;
    background: rgb(243, 243, 243);
    color: var(--grey);
    font-size: 1.5rem;
    margin-top: 8rem;
    width: 100%;
    height: 100%;
}
.side-text {
    flex: 1;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 2rem;
}
.ig-posts {
    display: flex;
    flex: 1;
    color: white;
}
.ig-posts-link {
    position: relative;
    flex: 1;
}
.ig-posts-img {
    width: 100%;
    height: 100%;
}
.ig-posts-media-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 1;
    transition: opacity .2s;
}
.ig-posts-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 200;
    font-size: 1rem;
    transition: opacity .2s;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.ig-posts-text-line {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.ig-posts-comment {
    overflow: hidden;
    display: flex;
    align-items: start;
    height: 4rem;
    line-height: 1rem;
    margin: 0.5rem 1rem;
}
.ig-posts-link:hover .ig-posts-text {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 1;
}
.ig-posts-link:hover .ig-posts-media-icon {
    opacity: 0;
}
