nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}
nav * {
    color: white;
    font-size: 1.2rem;
}
nav .home-link {
    position:  relative;
    margin-right: 6rem;
    top: 0.5rem;
}
nav .nav-item {
    position: relative;
    font-weight: 200;
}
nav .nav-item::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: white;
    bottom: 0;
    left: 0;
}
nav .home-icon {
    font-size: 3rem;
}
nav .nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}
