footer {
    color: white;
    font-weight: 200;
    margin-top: auto;
}
.footerTop {
    background: var(--dark);
}
.footerTopInner {
    display: flex;
    padding: 35px 16px;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1100px;
    margin-inline: auto;
}
.footerBottom {
    background: var(--dark2);
}
.footerBottomInner {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    max-width: 1020px;
    margin-inline: auto;
}
.footerColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 auto;
    padding-inline: 20px;
}
.footerList {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 15px;
}
.footerHeading {
    font-weight: 500;
}
.footerLink:hover {
    color: var(--grey);
}
.footerIconrow {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-block: 15px;
}

@media only screen and (max-width: 1140px) {
    .footerTopInner {
        max-width: 900px;
    }
    .footerBottomInner {
        max-width: 860px;
    }
}

@media only screen and (max-width: 940px) {
    .footerTopInner {
        max-width: 740px;
        font-size: 16px;
    }
    .footerBottomInner {
        max-width: 700px;
    }
    .footerColumn {
        gap: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .footerTopInner {
        max-width: 740px;
    }
    .footerBottomInner {
        max-width: 700px;
    }
}

@media only screen and (max-width: 540px) {
    .footerBottomInner {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
