header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;   
    height: 96px;
    color: white;
    backdrop-filter: blur(3px);
}
header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, var(--dark), var(--dark2));
    transition: opacity .3s;
    opacity: 0;
    z-index: -5;
}
.bg::before {
    opacity: 1;
}
.relative {
    position: relative;
}
.headerInner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;   
    padding-inline: 32px;
}
.headerHomeLink {
    display: flex;  
    margin-right: 3rem;
}
.navItemsList {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navItem {
    position: relative;
    margin-right: 1rem;
}
.navLink {
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem 0.25rem;
}
.navLink::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: white;
    transition: width .2s;
}
.navLink:hover::before {
    width: 100%;
}
.headerLangs {
    position: relative;
    cursor: pointer;
    margin-left: auto;
}
.langsOpener {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
}
.langsOpener::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: white;
    transition: width .2s;
}
.langsOpener:hover::before {
    width: 100%;
}
.langsFlag {
    width: 1.5rem;
    height: 1.5rem;
}
.langsItem {
    display: flex;
    align-items: center;
    gap: 1rem;  
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--lightgrey);
    transition: background .2s;
}
.langsItem:hover {
    background: rgba(0, 0, 0);
}
.langsItem:last-child {
    border: none;
}
.langsList {
    position: absolute;
    min-width: 7rem;
    right: 0;
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
    transition: transform .2s, opacity .2s;
}
.langsOpener.opened + .langsList {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
.headerArrowDown {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.5rem;
    transition: transform .2s;
}
.submenu {
    position: absolute;
    left: -0.5rem;
    min-width: 10rem;
    text-wrap: nowrap;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    visibility: hidden;
    transition: transform .2s, opacity .2s;
}
.submenuItem {
    border-bottom: 1px solid var(--lightgrey);
}
.submenuLink {
    display: inline-block;
    width: 100%;
    padding: 0.75rem;
    background: rgba(0, 0, 0, 0.75);
    transition: background .2s;
}
.submenuLink:hover {
    background: rgba(0, 0, 0);
}
.submenuItem:last-child {
    border: none;
}
.navItem:hover .submenu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}
.navOpener {
    margin-left: auto;
    padding: 0.5rem 0.25rem;
    display: none;
}

@media only screen and (max-width: 1140px) {
    header {
        position: relative;
        background: linear-gradient(to bottom, var(--dark), var(--dark2));
        height: 70px;
    }
    .headerHomeLink {
        margin-right: 0;
    }
    .headerGomeLogo {
        width: 140px;
    }
    nav {
        position: absolute;
        right: 0;
        top: 100%;
        opacity: 0;
        width: 300px;
        pointer-events: none;
        visibility: hidden;
        -ms-transform: translateY(20px);
        transform: translateY(20px);
        transition: transform .2s, opacity .2s;
    }
    nav.opened {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
    }
    .navItemsList {
        display: block ;
    }
    .navItem {
        border-bottom: 1px solid var(--lightgrey);
        margin-right: 0;
    }
    .navItem:last-child {
        border: none;
    }
    .navLink {
        display: flex;
        align-items: center;
        padding: 0.75rem 1.25rem;
        background: rgba(0, 0, 0, 0.75);
    }
    .navLink:hover::before {
        content: none;
    }
    .navLink:hover {
        background: rgba(0, 0, 0);
    }
    .submenu {
        max-height: 0px;
        position: static;
        overflow: hidden;
        width: 100%;
        opacity: 1;
        transform: none;
        visibility: visible;
        transition: max-height 0.5s;
    }
    .navLink.opened {
        border-bottom: 1px solid var(--lightgrey);
    }
    .navLink.opened + .submenu {
        max-height: 300px;
        transition: max-height 0.7s ease-in-out;
    }
    .submenuLink {
        padding-left: 1.75rem;
    }
    .navLink.opened .headerArrowDown {
        transform: rotate(180deg);
    }
    .langsOpener.opened .headerArrowDown {
        transform: rotate(180deg);
    }
    .headerArrowDown {
        margin-left: auto;
    }
    .navOpener {
        display: flex;
        cursor: pointer;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        padding-inline: 1rem;
        gap: 0.75rem;
        height: 40px;
    }
    .headerLangs {
        margin-left: 6px;
    }
    .langsOpener {
        background: rgba(0, 0, 0, 0.5);
        height: 40px;
        padding-inline: 12px;
        border-radius: 8px;
    }
    .langsList {
        right: -32px;
        top: calc(100% + 15px); 
    }
    .langArrowDown {
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width: 540px) {
    nav {
        width: 100%;
    }
    .headerInner {
        padding-inline: 12px;
        font-size: 1rem;
    }
    .headerHomeLogo {
        width: 100px;
    }
    .navOpener {
        font-size: 0.8rem;
    }
}