.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introImg {
    width: 100%;
    object-fit: cover;
    height: 78vh;
    user-select: none;
    -webkit-user-drag: none;
}
.introOverlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    transition: background .9s;
}
.introOverlay.active {
    background: rgba(0, 0, 0, 0.7);
}
.scrollDown {
    position: absolute;
    cursor: pointer;
    z-index: 100;
    bottom: 2%;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .2s;
}
.scrollDown:hover {
    background: rgba(0, 0, 0, 0.8);
}
.arrowDown {
    font-size: 1.5em;
    color: white;
}
.statsWrap {
    position: absolute;
    transform: translateY(40px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.statsBox {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-transform: uppercase;
    border-radius: 8px;
    padding: 25px;
}
.statsBox .heading {
    font-size: 1.5em;   
    margin-bottom: 8px;
}
.statsBox .number {
    font-size: 2em;
}
.statsBox .desc {
    font-size: 0.9em;
}
.aboutUsWrap {
    margin: 0 auto;
    max-width: 700px;
    line-height: 1.6;
    padding-block: 64px 128px;
}
.membersWrap {
    margin: 0 auto;
    max-width: 1000px;
}
.membersWrap .heading {
    margin-bottom: 64px;
    font-size: 2.33em;
    font-weight: 300;
}
.membersWrap .headingLogo {
    width: 1.3em;
    height: 0.65em;
    margin-right: 2%;
}
.membersList {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 120px;
}
.memberRow {
    display: flex;
    gap: 40px;
}
.memberImgWrap {
    border-radius: 8px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    flex-shrink: 0;
}
.memberImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.memberDetails {
    flex: 1;
    padding: 20px;
    background-color: var(--light2);
    border-radius: 16px;
}
.memberName {
    font-size: 2em;
    margin-bottom: 8px;
}
.memberRole {
    margin-bottom: 30px;
    font-size: 1.1em;
}
.memberDescription {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

@media only screen and (max-width: 1140px) {
    .statsWrap {
        grid-template-columns: repeat(1, 1fr);  
        margin-bottom: 150px;
        gap: 10px;  
        width: 100%;
        padding-inline: 30px;
        justify-items: end;
    }
    .statsBox {
        max-width: 400px;
        width: 100%;
    }
}   

@media only screen and (max-width: 940px) {
    .statsWrap {
        grid-template-columns: repeat(1, 1fr);
        font-size: 0.9em;   
    }
    .statsBox {
        max-width: 350px;
    }
}

@media only screen and (max-width: 768px) {
    .memberRow {
        flex-direction: column;
    }
    .memberRow:nth-child(even) .memberImgWrap  {
        margin-left: auto;
    }
    .statsBox {
        max-width: 250px;
    }
}

@media only screen and (max-width: 540px) {
    .statsWrap {
        margin-bottom: 280px;
    }
    .statsBox {
        max-width: 100%;
        padding: 15px;
        font-size: 0.9em;
    }
}