.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introImg {
    width: 100%;
    height: 100%;
}
.introLogo {
    position: absolute;
    z-index: 100;
    height: 15%;
    width: 20%;
}
.introOverlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    transition: background .9s;
}
.introOverlay.active {
    background: rgba(0, 0, 0, 0.7);
}
.aboutUsWrap {
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.6;
}
.ourTeamWrap {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
}

