.carIntro {
    display: flex;
}
.carIntroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    background-color: white;
}
.carIntroHeading {
    font-weight: 500;
    font-size: 4rem;
}
.carIntroModel {
    font-weight: 200;
    font-size: 2.75rem;
}
.carIntroImgWrap {
    position: relative;
    flex-basis: 50%;
}
.carIntroImgWrap::before {
    content: "";
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 5%, rgba(255, 255, 255, 0));
}
.carIntroSlider {
    display: flex;
    position: relative;
    z-index: -99; 
    user-select: none;
    -webkit-user-drag: none;
    transition: transform 1s;
}
.carIntroImg {
    width: 100%;
    display: block;
    object-fit: cover;
    flex-shrink: 0;
    aspect-ratio: 16 / 9;
}
.carGallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1px;
}
.carGalleryPreview {
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carGalleryPreview::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    transition: background-color 0.1s;
}
.carGalleryPreview:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}
.carGalleryImg {
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}
.swipeIcon {
    position: absolute;
    bottom: 5%;
    color: white;
    width: 7%;
    height: 12%;
    cursor: pointer;
}
.swipeIcon:hover {
    color: var(--red);
}
.swipeLeftIcon {
    left: 3%;
}
.swipeRightIcon {
    right: 3%;
}
.previewIcon {
    position: absolute;
    color: white;
    display: none;
    width: 25%;
    height: 25%;
    pointer-events: none;
}
.carGalleryPreview:hover .previewIcon {
    display: block;
}
.carDetails {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    max-width: 1300px;
    margin-inline: auto;
    padding: 64px 32px;
}
.carDetailsHeading {
    padding-inline: 5px;
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 300;
    border-bottom: 1px solid var(--lightgrey);
}
.carDetailsParams {
    flex-basis: 30%;
    border-radius: 20px;
    text-align: center;
    padding-block: 32px;
    background-color: var(--light);
}
.carDetailsParamList {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 30px;
    padding-inline: 30px;
    flex-direction: column;
}
.carDetailsParam {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: start;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--lightgrey);
}
.carDetailsParamLabel {
    font-size: 1rem;
    font-weight: 300;
}
.carDetailsParamValue {
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: auto;
    padding-left: 80px;
    color: var(--dark);
    text-align: end;
}
.carDetailsMain {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 70%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--light);
}
.carDetailsHeadingLogo {
    width: 40px;
    height: 20px;
    margin-left: 10px;
}
.carDetailsDesc {
    padding-inline: 20px;
    line-height: 1.75;
}
.carDetailsEquipmentList {
    padding-inline: 20px;
    column-count: 2;
}
.carDetailsEquipmentItem {
    position: relative;
    padding: 10px 0 10px 25px;
    line-height: 1.25;
}
.carDetailsEquipmentCheckIcon {
    position: absolute;
    color: var(--dark2);
    left: 0;
    top: .7em;
}
.carDetailsPriceWrap {
    margin-top: 30px;
    color: var(--dark2);
}
.carDetailsPrice {
    font-size: 1rem;
    margin-bottom: 20px;
}
.carDetailsPriceLabel {
    font-weight: 300;
    font-size: 1.33em;
    margin-bottom: 5px;
}
.carDetailsPriceValue {
    font-size: 2.1em;
}

@media only screen and (max-width: 1140px) {
    .carIntroHeading {
        font-size: 3.25rem;
    }
    .carIntroModel {
        font-size: 2rem;
    }
    .carGallery {
        grid-template-columns: repeat(10, 1fr);
    }
    .carDetailsHeading {
        font-size: 1.75rem;
    }
    .carDetailsPrice {
        font-size: 0.9rem;
    }

}   

@media only screen and (max-width: 940px) {
    .carIntro {
        flex-direction: column;
    }
    .carIntroText {
        padding-block: 10%;
    }
    .carIntroHeading {
        font-size: 3rem;
    }
    .carIntroModel {
        font-size: 1.75rem;
    }
    .carGallery {
        grid-template-columns: repeat(8, 1fr);
    }
    .carDetails {
        flex-direction: column-reverse;
        align-items: center;
    }
    .carDetailsParams {
        max-width: 425px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .carIntroHeading {
        font-size: 2.75rem;
    }
    .carIntroModel {
        font-size: 1.5rem;
    }
    .carGallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (max-width: 540px) {
    .carIntroHeading {
        font-size: 2.33rem;
    }
    .carIntroModel {
        font-size: 1.25rem;
    }
    .carGallery {
        grid-template-columns: repeat(5, 1fr);
    }
    .carDetails {
        padding: 64px 0;
    }
    .carDetailsMain {
        background-color: transparent;
        padding-block: 0;
    }
    .carDetailsParams {
        max-width: 100%;
        border-radius: 0;
    }
    .carDetailsEquipmentList {  
        column-count: 1;
    }
}