.carIntro {
    display: flex;
}
.carIntroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    background-color: white;
}
.carIntroHeading {
    font-weight: 500;
    font-size: 4rem;
}
.carIntroModel {
    font-weight: 200;
    font-size: 2.75rem;
}
.carIntroImgWrap {
    position: relative;
    flex-basis: 50%;
}
.carIntroImgWrap::before {
    content: "";
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 5%, rgba(255, 255, 255, 0));
}
.carIntroSlider {
    display: flex;
    position: relative;
    z-index: -99; 
    user-select: none;
    -webkit-user-drag: none;
    transition: transform 1s;
}
.carIntroImg {
    width: 100%;
    display: block;
    object-fit: cover;
    flex-shrink: 0;
    aspect-ratio: 16 / 9;
}
.carGallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
}
.carGalleryPreview {
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carGalleryPreview::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    transition: background-color 0.1s;
}
.carGalleryPreview:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}
.carGalleryImg {
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}
.previewIcon {
    position: absolute;
    color: white;
    display: none;
    font-size: 1.75rem;
}
.carGalleryPreview:hover .previewIcon {
    display: block;
}
.swipeIcon {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    color: white;
    width: 8%;
    height: 12%;
    cursor: pointer;
    transition: color 0.1s;
}
.swipeIcon:hover {
    color: var(--red);
}
.swipeRightIcon {
    right: 5%;
}
.swipeLeftIcon {
    left: 5%;
}
.gallerySwipeIcon {
    top: 50%;
    transform: translateY(-50%);
}
.carDetails {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1300px;
    margin-inline: auto;
    padding-block: 64px;
}
.carDetailsHeading {
    padding-inline: 5px;
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 300;
    border-bottom: 1px solid var(--lightgrey);
}
.carDetailsParams {
    flex: 3;
    border-radius: 20px;
    text-align: center;
    padding-block: 35px;
    background-color: var(--light2);
}
.carDetailsParamList {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 30px;
    padding-inline: 30px;
    flex-direction: column;
}
.carDetailsParam {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: start;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--lightgrey);
}
.carDetailsParamLabel {
    font-size: 1rem;
    font-weight: 300;
}
.carDetailsParamValue {
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--dark);
}
.carDetailsMain {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 7;
    padding: 20px 30px;
    border-radius: 5px;
}
.carDetailsHeadingLogo {
    width: 40px;
    height: 20px;
    margin-left: 10px;
    vertical-align: baseline;
}
.carDetailsDesc {
    padding-inline: 20px;
    line-height: 1.75;
}
.carDetailsEquipmentList {
    padding-inline: 20px;
    line-height: 3;
    column-count: 2
}
.carDetailsEquipmentItem {
    display: flex;
    align-items: center;
    gap: 8px;
}
.carDetailsEquipmentCheckIcon {
    color: var(--dark2);
    vertical-align: baseline;
}
.carDetailsPriceWrap {
    margin-top: 30px;
    color: var(--dark2);
}
.carDetailsPrice {
    font-size: 1rem;
    margin-bottom: 30px;
}
.carDetailsPriceLabel {
    font-weight: 300;
    font-size: 1.33rem;
    margin-bottom: 5px;
}
.carDetailsPriceValue {
    font-size: 2.25rem;
}
.carImageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding-block: 40px;
    text-align: center;
}
.carImage {
    max-width: 1200px;
    user-select: none;
    animation: fadeIn 0.6s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1140px) {
    .carIntroHeading {
        font-size: 3.25rem;
    }
    .carIntroModel {
        font-size: 2rem;
    }
}   

@media only screen and (max-width: 940px) {
    .carIntro {
        flex-direction: column;
    }
    .carIntroText {
        padding-block: 10%;
    }
    .carIntroHeading {
        font-size: 3rem;
    }
    .carIntroModel {
        font-size: 1.75rem;
    }
    .carGallery {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .carIntroHeading {
        font-size: 2.75rem;
    }
    .carIntroModel {
        font-size: 1.5rem;
    }
    .carGallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (max-width: 540px) {
    .carIntroHeading {
        font-size: 2.33rem;
    }
    .carIntroModel {
        font-size: 1.25rem;
    }
    .carGallery {
        grid-template-columns: repeat(5, 1fr);
    }
}