.contactWrap {
    display: flex;
    font-size: 1.1rem;
    max-width: 1200px;   
    margin-inline: auto;
    padding-bottom: 100px;
}
.contactHeading {
    margin-bottom: 32px;
    font-size: 2em;
    font-weight: 200;
}
.showroomsWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    flex: 1;
    align-items: start;
}
.showroomsDetails {
    border-bottom: 1px solid var(--grey2);
    flex: 1;
    padding-bottom: 30px;
}
.showroomsAddress {
    margin-bottom: 20px;
    line-height: 1.5;
}
.showroomsContact {
    color: var(--grey);
    line-height: 1.5;
    margin-bottom: 20px;
}
.showroomsMedia {
    display: flex;
    gap: 20px;
}
.showroomsMediaIcon {
    color: var(--dark2);
}
.contactIcon {
    position: relative;
    top: 0.15em;
    margin-right: 8px;
    line-height: 1.5;
}
.timetableWrap {
    flex: 1;
}
.showroomSelect {
    display: flex;
    text-transform: uppercase;
    border-bottom: 1px solid var(--grey2);
    padding-bottom: 20px;
    line-height: 1.5;
}
.showroomSelectOption {
    border-left: 1px solid var(--grey2);
    color: var(--lightgrey);
    padding-inline: 20px;
    cursor: pointer;
    font: inherit;
}
.showroomSelectOption.active {
    color: var(--grey2);
}
.showroomSelectOption:hover {
    color: var(--dark2);
}
.showroomSelectOption:first-child {
    border-left: 0;
}
.timetableWrap tr {
    padding: 10px;
}
.timetable {
    width: 100%;
    display: none;
}
.timetable tr {
    display: flex;
    flex-wrap: wrap;
    padding-block: 12px;
    border-bottom: 1px solid var(--grey2);
    color: var(--lightgrey);
}
.timetable td {
    flex-basis: 33.33333%;
    white-space: nowrap;
}
.timetable.active {
    display: table;
}
.timetable tr.active td {
    color: var(--grey2);
}

@media only screen and (max-width: 1140px) {

}   

@media only screen and (max-width: 940px) {
}

@media only screen and (max-width: 768px) {
    .contactWrap {
        flex-direction: column;
    }
    .showroomsWrap {
        flex-direction: row;
        margin-bottom: 60px;
    }
    .showroomsDetails {
        max-width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    .showroomsWrap {
        flex-direction: column;
    }
    .timetable td:first-child {
        flex-basis: 100%;
        color: var(--lightgrey);
        margin-bottom: 5px;
    }
    .timetable td {
        flex-basis: 50%;
    }
}