.intro {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
}
.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.introBgImgWrap {
    width: 100%;
}
.introBgImg {
    width: 100%;
    max-height: 730px;
    object-fit: cover;  
    transition: opacity 0.8s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
    display: block;
}
.introText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    font-weight: 100;
}
.introHeading {
    font-size: 5rem;
    letter-spacing: 0.2rem;

}
.introDesc {
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    font-size: 1.75rem;
    box-shadow: 5px 5px 5px 0px black;
    background: var(--light);
    color: var(--grey);
    letter-spacing: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 9rem;
    padding: 0.5rem 2rem;
}
.introDescLogo {
    margin-inline: 10px 20px;
    width: 60px;
    height: 30px;
}
.introButton {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5rem;
}
.introButtonText {
    margin-left: 65px;
}
.introCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: var(--grey);
    border-radius: 5rem;
    width: 60px;
    height: 60px;
    position: absolute;
    left: -8px;
    transition: background .2s;
}
.introButton:hover .introCircle {
    background: var(--red);;
    color: white;
}
.offers {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.offersHeading {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-inline: 20px;
}
.offersHeadingLogo {
    width: 70px;
    height: 35px;
    margin-right: 40px;
}   
.offersList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
}
.offersItem {
    display: flex;
    color: white;
    background: black;
}
.offersItemLink {
    display: flex;
    flex-direction: column;
}
.offersItemTop {
    position: relative;
}
.offersItemTop::before {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    height: 70%;
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 80%);
    transition: height .3s;
}
.offersItem:hover .offersItemTop::before {
    height: 50%;
}
.offersItemImg {
    width: 100%;
}
.offersItemLabel {
    background: var(--red);
    padding: 8px 16px;
    font-size: 1rem;
    z-index: 99;
    text-wrap: nowrap;
}
.offersItemBrand {
    font-weight: 300;
}
.offersItemModel {
    font-size: 2rem;
    line-height: 35px;
    font-weight: 600;
}
.offersItemPrice {
    margin-top: 10px;
}
.offersItemBottom {
    display: flex;
    margin-top: auto;
    justify-content: space-between;;
    position: relative;
    gap: 1rem;
    align-items: end;
    padding: 0 30px 30px 30px;
}
.offersItemText {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-left: 40px;
}
.offersButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.offersButton {
    margin: 0 8px 16px;
}

@media only screen and (max-width: 1140px) {
    .introBgImg {
        max-height: 500px;
    }
    .introHeading {
        font-size: 4rem;
    }
    .introDesc {
        font-size: 1.5rem;
    }
    .introButton {
        font-size: 1.5rem;
    }
    .offersItemBottom {
        padding: 0 20px 20px 20px;
        flex-direction: column-reverse;
    }
    .offersItemModel {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 940px) {
    .introHeading {
        font-size: 3.5rem;
    }
    .introDesc {
        font-size: 1.25rem;
    }
    .introDescLogo {
        width: 40px;
        height: 20px;
    }
    .introButton {
        font-size: 1.25rem;
    }
    .introCircle {
        width: 50px;
        height: 50px;
    }
    .introButtonText {
        margin-left: 45px;
    }
    .introBgImg {
        height: 600px;
    }
    .offersHeadingLogo {
        width: 60px;
        height: 30px;
    }   
    .offersItemBrand {
        font-size: 1.4rem;
    }
    .offersItemModel {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 768px) {
    .offersHeadingLogo {
        width: 45px;
        height: 22.5px;
        margin-right: 30px;
    }   
    .offersListWrap {
        max-width: 540px;
    }
    .offersList {
        grid-template-columns: 1fr;
    }
    .offersItemBrand {
        font-size: 1.75rem;
    }
    .offersItemModel {
        font-size: 2.25rem;
    }
}

@media only screen and (max-width: 540px) {
    .introHeading {
        font-size: 3.25rem;
    }
    .offersHeading {
        font-size: 1.6rem;
    }
    .offersHeadingLogo {
        width: 40px;
        height: 20px;
        margin-right: 20px;
    } 
    .offersItemBrand {
        font-size: 1.5rem;
    }
    .offersItemModel {
        font-size: 1.75rem;
    }
    .introText {  
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    .introDesc {
        color: white;
        background: transparent;
        box-shadow: none;
        gap: 16px;
        text-shadow: 5px 5px 5px black;
        flex-direction: column;
        letter-spacing: 0.35rem;
    }
    .introButton {
        letter-spacing: 0.35rem;
    }
}