.intro {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
}
.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.introBgImgWrap {
    width: 100%;

}
.introBgImg {
    width: 100%;
    max-height: 730px;
    object-fit: cover;  
    transition: opacity 0.8s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
    display: block;
}
.introText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    font-weight: 100;
}
.introHeading {
    font-size: 5rem;
    letter-spacing: 0.2rem;

}
.introDesc {
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    font-size: 1.75rem;
    box-shadow: 5px 5px 5px 0px black;
    background: var(--light);
    color: var(--grey);
    letter-spacing: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 9rem;
    padding: 0.5rem 2rem;
}
.introDescLogo {
    margin-inline: 10px 20px;
    width: 2em;
    height: 1em;
}
.introButton {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5rem;
}
.introButtonText {
    margin-left: 65px;
}
.introCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: var(--grey);
    border-radius: 5rem;
    width: 60px;
    height: 60px;
    position: absolute;
    left: -8px;
    transition: background .2s;
}
.introButton:hover .introCircle {
    background: var(--red);;
    color: white;
}

@media only screen and (max-width: 1140px) {
    .introBgImg {
        max-height: 500px;
    }
    .introHeading {
        font-size: 4rem;
    }
    .introDesc {
        font-size: 1.5rem;
    }
    .introButton {
        font-size: 1.5rem;
    }
    .offersItemBottom {
        padding: 0 20px 20px 20px;
        flex-direction: column-reverse;
    }
    .offersItemModel {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 940px) {
    .introHeading {
        font-size: 3.5rem;
    }
    .introDesc {
        font-size: 1.25rem;
    }
    .introButton {
        font-size: 1.25rem;
    }
    .introCircle {
        width: 50px;
        height: 50px;
    }
    .introButtonText {
        margin-left: 45px;
    }
    .introBgImg {
        height: 600px;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 540px) {
    .introHeading {
        font-size: 3.25rem;
    }
    .introText {  
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    .introDesc {
        color: white;
        background: transparent;
        box-shadow: none;
        gap: 16px;
        text-shadow: 5px 5px 5px black;
        flex-direction: column;
        letter-spacing: 0.35rem;
    }
    .introButton {
        letter-spacing: 0.35rem;
    }
}