.hero {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroImgWrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.heroImgWrap::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0, rgba(0, 0, 0, 0.9) 20%, transparent);
    z-index: 99;
}
.heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero .text {
    position: absolute;
    bottom: 10%;
    color: white;
    width: 100%;
    font-size: 1.5em;
    z-index: 200;
    padding-inline: 20px;
    max-width: 1000px;
    width: 100%;
}
.hero .heading {
    font-weight: 400;
    font-size: 2em;
}
.hero .description {
    font-weight: 100;
}
.infoWrap {
    max-width: 700px;
    margin-inline: auto;
}
.serviceDescription {
    line-height: 1.6;
}
.serviceList {
    margin-top: 20px;
    line-height: 1.7;
    padding-left: 1em;
}
.serviceList li {
    list-style: disc;
}
.serviceImages {
    display: grid;
    gap: 20px;
    max-width: 1200px;
    margin-inline: auto;
    grid-template-columns: repeat(2, 1fr);
}
.imgWrap {
    max-height: 500px;
}
.imgWrap:last-child:nth-child(odd) {
    height: 800px;
    grid-column: span 2;
}
.serviceImages .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .hero .text {
        font-size: 1.4em;
    }
    .serviceImages {
        grid-template-columns: 1fr;
    }
    .imgWrap:last-child:nth-child(odd) {
        height: auto;
        grid-column: span 1;
    }
}

@media only screen and (max-width: 540px) {
    .hero .text {
        font-size: 1.3em;
    }
    .hero .heading {
        margin-bottom: 8px;
    }
}