.hero {
    position: relative;
    height: 500px;
}
.heroImgWrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.heroImgWrap::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0, rgba(0, 0, 0, 0.9) 20%, transparent);
    z-index: 99;
}
.heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
    color: white;
    width: 100%;
    font-size: 1.5em;
    z-index: 200;
}
.hero .heading {
    font-weight: 400;
    font-size: 2em;
    width: 1000px;
}
.hero .description {
    font-weight: 100;
    width: 1000px;
}