.serviceList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 20px;
    width: 100%;
    gap: 10px;
}
.serviceBlock {
    position: relative;
    height: 400px;  
    cursor: pointer;
}
.serviceBlock .textWrap {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 20px;
    color: white;
    font-size: 1.45em;
    width: 100%;
    padding: 20px;
    z-index: 200;
}
.serviceBlock .text {
    display: block;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    padding: 20px;
    width: 100%;
}
.serviceBlock .arrowWrap {
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 16px;
}
.serviceImg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.serviceBlock::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    border-radius: 16px;
    background-color: transparent;
    transition: background-color .2s;
}
.serviceBlock:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1140px) {
    .serviceBlock .textWrap {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 940px) {
    .serviceList {
        grid-template-columns: repeat(1, 1fr);
    }
    .serviceBlock .textWrap {
        font-size: 1.45em;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 540px) {

}