.text {
    line-height: 1.75;
    margin-bottom: 20px;
}
.infoCards {
    display: flex;
    gap: 5px;
}
.infoCard {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 8px;
    background: white;
    row-gap: 20px;
}
.infoCard:nth-child(even) {
    background: var(--light2);
}
.infoWrap {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.imgGallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
}
.imgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 150px;
    cursor: pointer;
    position: relative;
}
.imgWrap::before {
    content: "";
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.previewIcon {
    position: absolute;
    display: none;
    color: white;
    width: 15%;
    height: 15%;
}
.imgWrap:hover::before, .imgWrap:hover .previewIcon {
    display: block;
}
.imgWrap img {
    width: 100%;
}