.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--red);
    color: white;
    font-weight: 300;
    text-align: center;
    padding: 8px 20px;
    font-size: 1.5rem;
    transition: background .2s;
}
.button:hover {
    background: var(--red);
    color: white;
}
.buttonWhite {
    background: white;
    color: var(--grey);
}
.buttonWhite:hover {
    background: var(--grey2);
}
.buttonTransp {
    background: rgba(0, 0, 0, 0.5);
}
.buttonSmall {
    font-size: 1.25rem;
}
.buttonArrow {
    margin-left: 1rem;
    width: 1rem;
    height: 1rem;
}
.buttonIcon {
    width: 2.75rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.buttonsButton {
    margin: 0 12px;
}

@media only screen and (max-width: 940px) {
    .button {
        font-size: 1.33rem;
    }
    .buttonSmall {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 540px) {
    .button {
        font-size: 1.15rem;
    }
}

