.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}
.banner:last-child {
    margin-bottom: 0px;
}
.bannerImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -5;
}
.banner::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.bannerText {
    position: absolute;
    color: white;
    text-align: center;
}
.bannerHeading {
    letter-spacing: 0.5rem;
    font-size: 2rem;
    color: white;
    backdrop-filter: blur(1px);
    margin: 0 25px 10px;
}
.bannerButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-inline: 6px;
}
.bannerButton {
    margin: 0 8px 16px;
}

@media only screen and (max-width: 768px) {
    .bannerHeading {
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 540px) {     
    .bannerHeading {
        font-size: 1.75rem;
    }
}