.carIntro {
    display: flex;
}
.carIntroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 45%;
    background-color: white;
}
.carIntroHeading {
    font-weight: 500;
    font-size: 5rem;
}
.carIntroModel {
    font-size: 2.5rem;
}
.carIntroImgWrap {
    position: relative;
    flex-basis: 55%;
}
.carIntroImgWrap::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 5%, rgba(255, 255, 255, 0));
}
.carIntroSlider {
    display: flex;
    position: relative;
    z-index: -99; 
    user-select: none;
    -webkit-user-drag: none;
    transition: transform 1s;
}
.carIntroImg {
    width: 100%;
    display: block;
    object-fit: cover;
    flex-shrink: 0;
    aspect-ratio: 16 / 9;
}
.carGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}
.carGalleryImgWrap {
    flex-basis: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carGalleryImg {
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}
.carGalleryImgWrap:hover::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    pointer-events: none;
}
.swipeIcon {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    color: white;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: color 0.1s;
    z-index: 999;
}
.swipeIcon:hover {
    color: var(--red);
}
.swipeRightIcon {
    right: 30px;
}
.swipeLeftIcon {
    left: 30px;
}
.carDetails {
    display: flex;
    gap: 40px;
}
.carDetailsHeading {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 300;
    border-bottom: 1px solid var(--lightgrey);
}
.carDetailsParams {
    background-color: white;
    padding: 20px 30px;
    flex-basis: 30%;
    border-radius: 5px;
    align-self: flex-start;
    text-align: center;
}
.carDetailsParamList {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 35px;
}
.carDetailsParamsLeft {
    flex-basis: 50%;
}
.carDetailsParamsRight {
    flex-basis: 50%;
}
.carDetailsParam {
    margin-bottom: 10px;
    display: inline-block;
    text-align: start;
    width: 100%;
}
.carDetailsParamLabel {
    font-size: 1.25rem;
    font-weight: 300;
}
.carDetailsParamValue {
    font-weight: 400;
    font-size: 1.75rem;
}
.carDetailsMain {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 70%;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
}
.carDetailsHeadingLogo {
    width: 40px;
    height: 20px;
    margin-left: 10px;
    vertical-align: baseline;
}
.carDetailsDesc {
    line-height: 1.75;
}
.carDetailsEquipment {
    line-height: 1.75;
}
.carImageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding-block: 40px;
    text-align: center;
}
.carImage {
    max-width: 1200px;
}