.carIntro {
    display: flex;
    background-color: white;
}
.carIntroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 45%;
}
.carIntroHeading {
    font-weight: 500;
    font-size: 5rem;
}
.carIntroModel {
    font-size: 2.5rem;
}
.carIntroImgWrap {
    position: relative;
    flex-basis: 55%;
}
.carIntroImgWrap::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 5%, rgba(255, 255, 255, 0));
}
.carIntroImg {
    width: 100%;
    display: block;
}
.carGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.carGalleryImgWrap {
    flex-basis: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carGalleryImg {
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
}
.carGalleryImgWrap:hover::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.25);
    position: absolute;
    pointer-events: none;
}
.swipeIcon {
    position: absolute;
    top: 86%;
    color: white;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.swipeRightIcon {
    right: 30px;
}
.swipeLeftIcon {
    left: 30px;
}
.carDetails {
    display: flex;
    gap: 40px;
}
.carDetailsParams {
    display: flex;
    gap: 8px;
    flex-basis: 30%;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
}
.carDetailsParamsLeft {
    flex-basis: 50%;
}
.carDetailsParamsRight {
    flex-basis: 50%;
}
.carDetailsParam {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.carDetailsParamLabel {
    font-size: 1.25rem;
}
.carDetailsParamValue {
    font-weight: 500;
    font-size: 1.75rem;
}
.carDetailsMain {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 70%;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
}
.carDetailsHeading {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.carDetailsHeadingLogo {
    width: 40px;
    height: 20px;
    margin-left: 10px;
    vertical-align: baseline;
}
.carDetailsDesc {
    font-size: 1.25rem;
}