.contactInner {
    padding-inline: 50px;
    margin-bottom: 90px;
    margin-inline: auto;
    max-width: 1200px;
}
.contactHeading {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5em;
    margin-bottom: 40px;
}
.contactHeadingLogo {
    margin-right: 0 !important;
}
.contactForm {
    margin-bottom: 40px;
}
.contactFormFields {
    display: flex;
}
.contactFormUserDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.contactFormMessage {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.contactFormField {
    background-color: var(--light);
    font-size: 1rem;
    padding: 10px;
    width: 90%;
    color: var(--dark);
}
.contactFormMessageField {
    height: 100%;
    width: 100%;
}
.contactFormLabel {
    display: block;
    margin-bottom: 10px;
}
.contactFormButtonWrap {
    margin-top: 40px;
    display: flex;
}
.contactFormButton {
    margin-left: auto;
}   
.contactDealerCard {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: white;
    padding: 30px;
}
.contactDealerCard:last-child {
    margin-bottom: 0;
}
.contactDealerImageWrap {
    width: 250px;
    border-radius: 1000px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}
.contactDealerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contactDealerText {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.25rem;
}
.contactDealerName {
    font-weight: 500;
    color: var(--dark);
    font-size: 2.5rem;
}
.contactDealerIcon {
    width: 0.9em;
    height: 0.9em;
    margin-right: 8px;
    vertical-align: baseline;
}
.contactDealerIconRow {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1140px) {

}   

@media only screen and (max-width: 940px) {
    .contactInner {
        max-width: 800px;
        padding-inline: 0;
    }
    .contactForm {
        padding-inline: 50px;
    }
    .contactFormFields {
        flex-direction: column;
        gap: 20px;
    }
    .contactFormField {
        width: 100%;
    }
    .contactFormMessageField {
        height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .contactDealerImageWrap {
        width: 225px;
    }
    .contactDealerName {
        font-size: 2rem;
    }
    .contactDealerText {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 540px) {
    .contactDealerImageWrap {
        width: 200px;
    }
    .contactInner {
        margin-bottom: 60px;
    }
    .contactForm {
        padding-inline: 25px;
    }
    .contactHeading {
        flex-direction: column-reverse;
        gap: 10px;
        align-items: center;
    }
    .contactDealerCard {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    .contactDealerText {
        font-size: 1.25rem;
    }
    .contactDealerIconRow {
        justify-content: center;
    }
}