.contactInner {
    margin-inline: auto;
    max-width: 1200px;
    padding: 64px;
}
.contactHeading {
    margin-bottom: 40px;
}
.contactForm {
    margin-bottom: 40px;
}
.contactFormFields {
    display: flex;
}
.contactFormUserDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.contactFormMessage {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.contactFormField {
    background-color: var(--light2);
    font-size: 1rem;
    padding: 10px;
    width: 90%;
    color: var(--dark);
}
.contactFormMessageField {
    height: 100%;
    width: 100%;
}
.contactFormLabel {
    display: block;
    margin-bottom: 10px;
}
.contactFormButtonWrap {
    margin-top: 40px;
    display: flex;
}
.contactFormButton {
    margin-left: auto;
}
.contactDealers {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.contactDealerCard {
    display: flex;
    align-items: center;
    gap: 50px;
}
.contactDealerCard:last-child {
    margin-bottom: 0;
}
.contactDealerImageWrap {
    width: 250px;
    border-radius: 1000px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}
.contactDealerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contactDealerText {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.25rem;
}
.contactDealerName {
    font-weight: 500;
    color: var(--dark);
    font-size: 2.5rem;
}
.contactDealerIcon {
    position: relative;
    top: 0.12em;
    width: 0.9em;
    height: 0.9em;
    margin-right: 8px;
}
.contactDealerIconRow {
    position: relative;
}

@media only screen and (max-width: 1140px) {

}   

@media only screen and (max-width: 940px) {
    .contactFormFields {
        flex-direction: column;
        gap: 20px;
    }
    .contactFormField {
        width: 100%;
    }
    .contactFormMessageField {
        height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .contactDealerImageWrap {
        width: 225px;
    }
    .contactDealerName {
        font-size: 2rem;
    }
    .contactDealerText {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 540px) {
    .contactInner {
        padding-inline: 32px;
    }
    .contactDealerImageWrap {
        width: 200px;
    }
    .contactDealerCard {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    .contactDealerText {
        font-size: 1.25rem;
    }
}