.filter {   
    display: flex;
    gap: 12px;
    margin-inline: 20px;
}
.filterButton {
    font-size: 1rem;
    text-transform: uppercase;
    background: white;
    padding: 10px 20px;
    color: var(--grey);
    cursor: pointer;
}
.filterButton:hover {
    background: var(--red);
    color: white;
}
.active {
    background: var(--red);
    color: white;
}

@media only screen and (max-width: 768px) {
    
}