.imageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding-block: 40px;
    text-align: center;
}
.image {
    max-width: 1200px;
    width: 100%;
    user-select: none;
    height: auto;
    animation: fadeIn 0.6s;
}
.swipeIcon {
    position: absolute;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    width: 4%;
    height: 12%;
    cursor: pointer;
    transition: color 0.1s;
}
.swipeIcon:hover {
    color: var(--red);
}
.swipeRightIcon {
    right: 2%;
}
.swipeLeftIcon {
    left: 2%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}