.notificationWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification {
    position: fixed;
    background: white;
    bottom: 50px;
    border-radius: 8px;
    border: 1px solid var(--grey);
    padding: 20px 30px;
    z-index: 99999;
    opacity: 0;
    animation: fade 5s forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}