@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,76.4,100..900;1,76.4,100..900&display=swap');
:root {
    --light: rgb(226, 226, 226);
    --grey: #4a4a4a;
    --grey2: #3c3c3c;;
    --red: #c41515;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
body {
    background: var(--light);
    color: var(--grey);
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-content {
    flex: 1;
}
.heading {
    font-size: 3rem;
    font-weight: 200;
}
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--red);
    color: white;
    font-weight: 300;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    transition: 0.2s;
}
.button:hover {
    background: var(--red);
    color: white;
}
.button-white {
    background: white;
    color: var(--grey);
}
.button-white:hover {
    background: var(--grey2);
}
.button-arrow {
    margin-left: 1rem;
    width: 1rem;
    height: 1rem;
}