.intro {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
}
.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.intro-bg-img-wrap {
    width: 100%;
}
.intro-bg-img {
    width: 100%;
    max-height: 730px;
    object-fit: cover;  
    transition: opacity 0.8s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
    display: block;
}
.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    font-weight: 100;
}
.intro-heading {
    font-size: 5rem;
    letter-spacing: 0.2rem;

}
.intro-desc {
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    font-size: 1.75rem;
    box-shadow: 5px 5px 5px 0px black;
    background: var(--light);
    color: var(--grey);
    letter-spacing: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 9rem;
    padding: 0.5rem 2rem;
}
.intro-desc-logo {
    margin-inline: 10px 20px;
    width: 60px;
    height: 30px;
}
.intro-button {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5rem;
}
.intro-button-text {
    margin-left: 65px;
}
.intro-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: var(--grey);
    border-radius: 5rem;
    width: 60px;
    height: 60px;
    position: absolute;
    left: -8px;
    transition: background .2s;
}
.intro-button:hover .intro-circle {
    background: var(--red);;
    color: white;
}
.offers {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.offers-heading {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-inline: 20px;
}
.offers-heading-logo {
    width: 70px;
    height: 35px;
    margin-right: 40px;
}   
.offers-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
}
.offers-item {
    display: flex;
    color: white;
    background: black;
}
.offers-item-link {
    display: flex;
    flex-direction: column;
}
.offers-item-top {
    position: relative;
}
.offers-item-top::before {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    height: 70%;
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 80%);
    transition: height .3s;
}
.offers-item:hover .offers-item-top::before {
    height: 50%;
}
.offers-item-img {
    width: 100%;
}
.offers-item-label {
    background: var(--red);
    padding: 8px 16px;
    font-size: 1rem;
    z-index: 99;
    text-wrap: nowrap;
}
.offers-item-brand {
    font-weight: 300;
}
.offers-item-model {
    font-size: 2rem;
    line-height: 35px;
    font-weight: 600;
}
.offers-item-price {
    margin-top: 10px;
}
.offers-item-bottom {
    display: flex;
    margin-top: auto;
    justify-content: space-between;;
    position: relative;
    gap: 1rem;
    align-items: end;
    padding: 0 30px 30px 30px;
}
.offers-item-text {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-left: 40px;
}
.offers-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.offers-button {
    margin: 0 8px 16px;
}

@media only screen and (max-width: 1140px) {
    .intro-bg-img {
        max-height: 500px;
    }
    .intro-heading {
        font-size: 4rem;
    }
    .intro-desc {
        font-size: 1.5rem;
    }
    .intro-button {
        font-size: 1.5rem;
    }
    .offers-item-bottom {
        padding: 0 20px 20px 20px;
        flex-direction: column-reverse;
    }
    .offers-item-model {
        font-size: 1.75rem;
    }
}
@media only screen and (max-width: 940px) {
    .intro-heading {
        font-size: 3.5rem;
    }
    .intro-desc {
        font-size: 1.25rem;
    }
    .intro-desc-logo {
        width: 40px;
        height: 20px;
    }
    .intro-button {
        font-size: 1.25rem;
    }
    .intro-circle {
        width: 50px;
        height: 50px;
    }
    .intro-button-text {
        margin-left: 45px;
    }
    .intro-bg-img {
        height: 600px;
    }
    .offers-heading-logo {
        width: 60px;
        height: 30px;
    }   
    .offers-item-brand {
        font-size: 1.4rem;
    }
    .offers-item-model {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 768px) {
    .offers-heading-logo {
        width: 45px;
        height: 22.5px;
        margin-right: 30px;
    }   
    .offers-list-wrap {
        max-width: 540px;
    }
    .offers-list {
        grid-template-columns: 1fr;
    }
    .offers-item-brand {
        font-size: 1.75rem;
    }
    .offers-item-model {
        font-size: 2.25rem;
    }
}
@media only screen and (max-width: 540px) {
    .intro-heading {
        font-size: 3.25rem;
    }
    .offers-heading {
        font-size: 1.6rem;
    }
    .offers-heading-logo {
        width: 40px;
        height: 20px;
        margin-right: 20px;
    } 
    .offers-item-brand {
        font-size: 1.5rem;
    }
    .offers-item-model {
        font-size: 1.75rem;
    }
    .intro-text {  
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    .intro-desc {
        color: white;
        background: transparent;
        box-shadow: none;
        gap: 16px;
        text-shadow: 5px 5px 5px black;
        flex-direction: column;
        letter-spacing: 0.35rem;
    }
    .intro-button {
        letter-spacing: 0.35rem;
    }
}