@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,76.4,100..900;1,76.4,100..900&display=swap');
:root {
    --light: #f1f1f1;
    --light2: #e2e2e2;
    --dark: #222222;
    --dark2: #121212;
    --lightgrey: #a3a3a3;
    --grey: #4a4a4a;
    --grey2: #3c3c3c;
    --red: #c41515;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    vertical-align: baseline;
}
#root {
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
textarea {
    resize: none;
}
body {
    background: var(--light);
    color: var(--grey);
}
.heading {
    font-size: 3rem;
    font-weight: 200;
    margin-inline: 15px;
    text-align: center;
}
.headingLogo {
    width: 1.3em;
    height: .65em;
    margin-right: 40px;
}   
.container {
    margin-inline: auto;
    max-width: 1440px;
}
.sectionSpacing {
    margin-block: 64px;
}
.sectionInner {
    padding-inline: 20px;
}
.link {
    text-decoration: underline;
}
.clickable:hover {
    text-decoration: underline;
}
.errMsg {
    display: flex;
    justify-content: center;
}
.sectionFirst {
    margin-top: 96px;
}
.sectionWhite {
    background-color: white;
}
.sectionLight {
    background-color: var(--light);
}
.sectionLighter {
    background-color: var(--light2);
}
.breadcrumbs {
    text-align: center;
    margin-bottom: 8px;
    padding-top: 7%;
}
.loading {
    display: flex;
    justify-content: center;  
    align-items: center;
    position: absolute;
    background: white;
    font-weight: 500;
    font-size: 2.25rem;
    height: 100%;
    width: 100%;
}
.loadingText {
    animation: load 5s infinite;
}
.loadingLogo {
    width: 50px;
    height: 25px;
    margin-left: 15px;
}
.banners {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@keyframes load {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1140px) {
    .sectionFirst {
        margin-top: 0;
    }
}   

@media only screen and (max-width: 940px) {
    .heading {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .sectionSpacing {
        margin-block: 48px;
    }
    .heading {
        font-size: 2rem;
    }
    .headingLogo {
        margin-right: 30px;
    }  
    .spaced {
        margin-block: 45px;
    }
}

@media only screen and (max-width: 540px) {
    .headingLogo {
        margin-right: 20px;
    } 
    .loadingLogo {
        display: block;
        margin-inline: auto;
        margin-top: 10px;
    }
}