@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,76.4,100..900;1,76.4,100..900&display=swap');
:root {
    --light: #e2e2e2;
    --dark: #222222;
    --dark2: #121212;
    --lightgrey: #a3a3a3;
    --grey: #4a4a4a;
    --grey2: #3c3c3c;
    --red: #c41515;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
body {
    background: var(--light);
    color: var(--grey);
}
.heading {
    font-size: 3rem;
    font-weight: 200;
    margin-inline: 15px;
    text-align: center;
}
.headingLogo {
    width: 70px;
    height: 35px;
    margin-right: 40px;
}   
.inner {
    margin-inline: auto;
    max-width: 1440px;
}
.spaced {
    margin-block: 4rem;
}
.link {
    text-decoration: underline;
}
.errMsg {
    display: flex;
    justify-content: center;
}
.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.buttonsButton {
    margin: 0 8px 16px;
}

@media only screen and (max-width: 1140px) {
    .cmLogo {
        width: 60px;
        height: 30px;
    }
}   

@media only screen and (max-width: 940px) {
    .heading {
        font-size: 2.5rem;
    }
    .headingLogo {
        width: 60px;
        height: 30px;
    }   
}

@media only screen and (max-width: 768px) {
    .heading {
        font-size: 2rem;
    }
    .headingLogo {
        width: 45px;
        height: 22.5px;
        margin-right: 30px;
    }  
    .spaced {
        margin-block: 45px;
    }
}

@media only screen and (max-width: 540px) {
    .headingLogo {
        margin-right: 20px;
    } 
}